[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Browse the web
Exec=/usr/local/bin/arcadecloud-chrome %U
Terminal=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
